body {
  margin: 0;
  text-rendering: optimizelegibility;
  letter-spacing: 0.05px;
  word-wrap: break-word;
  overflow-x: hidden;
}

input {
  background: none;
  border-radius: 20px;
  color: #066a5a;
  border-color: #066a5a;
}
input :hover {
  color: #066a5a;
}
:hover {
  color: #066a5a;
}

.header {
  display: block;
  border-bottom: solid;
  border-color: #ebebeb;
}

.main {
  padding-top: 2%;
  padding-bottom: 15%;
  padding: 20%;
}

.footer {
  display: block;
}

::-webkit-scrollbar {
  display: none;
}
